mixin transition
  transition(appear, name='fade')
      block

mixin th1
  +transition
    h1
      block

mixin th2
  +transition
    h2
      block

mixin th3
  +transition
    h3
      block

mixin tmath
  +transition
    div
      block

mixin sue
  +th2
    | Solution
  +th3
    | Using the equation.